/* start body */
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size:16px;
    line-height: 1em;
    margin: 0;
    padding: 0; 
}

h1 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font: size 200px;
    line-height: 1.5em;
    margin: 20;
    padding: 35;

}
/* end body*/

/* start debug */
.bg-hotpink{
    background-color: hotpink;
}
.bg-rosybrown {
    background-color: rosybrown;
}
.bg-dodgerblue{
    background-color: dodgerblue;
}
/* end  debug */


 /* start container */
 .container {
     margin: 10px auto;
     overflow: auto;
     width: 90%;
 }

 .container {
    margin: 10px auto;
    overflow: auto;
    width: 100%;
}

 /* end container */

 /*start logo*/
 .logo {
     text-align: center;
 }
 /* end Logo */

  /* Start Anchor / Hyperlink */
  a:link,
  a:visited {
      color: blue;
      text-decoration: none;

  }
  a:hover,
  a:active {
       color: black;
       text-decoration: underline;
  }
  /* Start Anchor / Hyperlink */

  /*start menu primer*/
  .menu-primer ul {
      background-color: darksalmon;
      border-radius: 4px;
      box-shadow: 
        0 3px 5px -1px rgba(0,0,0,.2),
        0 6px 10px 0 rgba(0,0,0,.14),
        0 1px 18px 0 rgba(0,0,0,.12);
    padding: 10px 50px;

    }

  .menu-primer li {
      display:inline-block;
      border-right: 1px solid black;      
      margin-left:5px;
      
    }

  .menu-primer a {
      color: black;
      font-size: 23px;
      display: inline-block;
      letter-spacing: 1px;
      padding: 10px 20px;
      text-transform: uppercase;
  }

  .menu-primer a:hover {
      background-color: indianred;
      color: white;
      text-decoration: bisque
  }

.menu-primer .active {
    background-color: mistyrose;
    color: black;
    text-decoration: none;
}
/*end menu primer*/

/* start Heading */
h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    letter-spacing: 1px;
}
h1 {
    font-size: 28px
}
h2 {
    font-size: 24px
}
h3 {
    font-size: 18px
}
h4 {
    font-size: 16px
}
h5 {
    font-size: 14px
}
h6 {
    font-size: 13px
}
/* end Heading */

/* start jumbotron */
.jumbotron {
    background-color: paleturquoise;
    border: 1px solid white;
    border-radius: 4px;
    padding: 20px 0;

}
.jumbotron h1 {
    font-size: 32px;
    padding: 0 20px
}
.jumbotron h2 {
    font-size: 27px;
    padding: 0 20px
}
.jumbotron h3 {
    font-size: 24px;
    padding: 0 30px
}
.jumbotron h4 {
    font-size: 20px;
    padding: 0 30px
}
/* end jumbotron */

/* Start gambar */
.container-foto {
    caption-side: bottom;
    float: left;
    width: 49%;
}
/* end gambar */

/* start main */
.main-home-one {
    float: left;
    width: 49%;
}
.main-home-two {
    float: right;
    width: 49%;
}
.main-home-three {
    float: top;
    width: 49%;
}
.main-home-one.box-isi,
.main-home-two.box-isi,
.main-home-three.box-isi{
    height: 140px;
}
/* end main */

/* start Box */
.box-heading {
    background-color: crimson;
    border: 1px solid   grey;
    border-radius: 3px 3px 0 0;
    margin: 0;
    padding: 5px 10px;
    text-transform: uppercase;
}
.box-heading h4 {
    font-size: 14px;
    margin: 10px;
}
.box-isi {
    background-color: white;
    border: 1px solid   black;
    border-top: 0;
    margin: 0;
    padding: 10px 20px;
} 
/* end Box */

/* start menu sekunder */
.menu-sekunder {
    background-color:gainsboro;
    border-bottom: 1px solid palevioletred;
    border-top: 1px solid gainsboro;
    overflow: auto;
    padding: 10px 0;
}
.menu-sekunder h4 {
    font-size: 14px;
    margin: 0 auto;
    text-transform: uppercase;
}
.menu-sekunder ul {
    padding: 0;
}
.menu-sekunder li {
    list-style: disc;
}
.menu-sekunder li a,
.menu-sekunderp{
    font-size: 15px;
}

.menu-sekunder-one,
.menu-sekunder-two,
.menu-sekunder-three {
    float: left;
}
.menu-sekunder-one {
    width: 40%;
}
.menu-sekunder-two,
.menu-sekunder-three {
    width: 30%
}
.menu-sekunder li img {
    vertical-align: middle;
}
/* end menu sekunder */

/* start copyright */
.copyright p {
    font-size: 15px;
}
/* end copyright */


